@import "_variables";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', 'verdana', sans-serif;
    min-width: 320px;
}

.page-header {
    height: 74px;
    background-color: #222222;
    padding: 18px 16px;
    box-sizing: border-box;

    @media (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-icon,
    .burger-icon {
        cursor: pointer;
    }

    .search-icon,
    .burger-icon,
    .user-icon,
    .cart-icon {
        transition: 0.25s ease fill;
        fill: #E8E8E8;

        &:hover {
            fill: $pinkColor;
        }

        &:active {
            fill: #fff;
        }
    }

    .search-icon {
        margin-left: 41px;
    }

    .user-link,
    .cart-link {
        margin-left: 33px;
        display: none;

        @media (min-width: 768px) {
            display: inline;
        }
    }

    .cart-link {
        position: relative;

        span {
            display: inline-block;
            color: #fff;
            background-color: $pinkColor;
            border-radius: 50%;
            height: 19px;
            width: 19px;
            text-align: center;
            position: absolute;
            top: -20px;
            right: -10px;
            font-size: 12px;
            line-height: 20px;
        }
    }
}

.brand-banner {
    height: 363px;
    background-color: #F1E4E6;
    color: #222222;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        height: 368px;
        padding: 0 32px;
        background-image: url(#{$imagePath}/banner.png);
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: flex-end;
    }

    @media (min-width: 1200px) {
        height: 764px;

        .container {
            padding-left: 33%;
        }
    }

    @media (min-width: 1601px) {
        background-position-x: 33%;
    }

    &-wrapper {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: block;
            width: 12px;
            height: 61px;
            background-color: $pinkColor;
            margin-right: 16px;

            @media (min-width: 768px) {
                height: 92px;
            }
        }
    }

    &-title {
        display: flex;
        flex-direction: column;
        font-weight: 900;
        font-size: 38px;
        line-height: 42px;

        @media (min-width: 768px) {
            font-size: 44px;
            line-height: 52px;
        }

        @media (min-width: 1200px) {
            font-size: 48px;
            line-height: 56px;
        }

    }

    &-subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        @media (min-width: 768px) {
            font-size: 24px;
            line-height: 28px;
        }

        @media (min-width: 1200px) {
            font-size: 32px;
            line-height: 38px;
        }

        span {
            color: $pinkColor;
        }
    }
}

.breadcrumbs {
    height: 148px;
    background-color: #F1E4E6;
    text-transform: uppercase;

    .container {
        height: 100%;
        padding: 24px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        @media (min-width: 768px) {
            padding: 0 16px 0;
            flex-direction: row;
            justify-content: space-between;
        }

        @media (min-width: 1200px) {
            padding: 0;
        }
    }

    &-page {
        color: $pinkColor;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 32px;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    &-path {
        display: flex;
        list-style-type: none;

        &-item {

            color: #636363;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;

            a {
                text-decoration: none;
                color: #636363;
                transition: color ease 0.3s;
            }

            a:hover {
                color: $pinkColor;
            }

            &:not(:last-of-type)::after {
                content: "/";
                margin: 0 5px;
            }

            &:last-of-type a {
                color: $pinkColor;
                font-weight: 700;
            }
        }
    }
}

.filters {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin: 24px 8px;

    @media (min-width: 768px) {
        margin-bottom: 32px;
    }

    @media (min-width: 1200px) {
        margin: 51px 46px 49px;
        justify-content: start;
    }

    &-left {
        position: relative;

        &:hover {
            .filters-left-title {
                color: #EF5B70;
            }

            .filters-left-icon {
                fill: #EF5B70;
            }

            .filters-left-popup {
                display: block;
            }
        }

        &-title {
            display: none;

            @media (min-width: 768px) {
                transition: color ease 0.3s;
                display: inline-block;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
            }
        }

        &-icon {
            transition: fill ease 0.3s;

            @media (min-width: 768px) {
                width: 15px;
                height: 10px;
                margin-left: 11px;
            }
        }

        &-popup {
            display: none;
            position: absolute;
            z-index: 1;
            background-color: #fff;
            width: 360px;
            padding: 13px 16px 16px;
            box-sizing: border-box;
            left: 0;
            top: -13px;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

            @media (min-width: 1200px) {
                left: -16px;
            }

            &-title {
                display: inline-block;
                color: #EF5B70;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
            }

            &-icon {
                fill: #EF5B70;
                margin-left: 11px;
            }

            &-nav {
                margin-top: 16px;
                list-style: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;

                .observed .filters-left-popup-nav-filter-title {
                    color: #EF5B70;
                }

                &-filter {

                    &:not(:last-child) {
                        margin-bottom: 18px;
                    }

                    &-title {
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid #EBEBEB;
                        box-sizing: border-box;
                        cursor: pointer;
                        transition: color ease 0.3s;

                        &::before {
                            content: "";
                            display: block;
                            width: 5px;
                            height: 37px;
                            background-color: #EF5B70;
                            margin-right: 11px;
                        }

                        &:hover {
                            color: #EF5B70;
                        }
                    }
                }

                &-subnav {
                    margin: 24px 17px;
                    list-style: none;
                    text-transform: capitalize;

                    a {
                        display: block;
                        margin-bottom: 11px;
                        text-decoration: none;
                        color: inherit;
                        transition: color ease 0.3s;

                        &:hover {
                            color: $pinkColor;
                        }
                    }
                }
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
        color: #6F6E6E;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        @media (min-width: 768px) {
            font-size: 14px;
            line-height: 17px;
        }

        @media (min-width: 1200px) {
            margin-left: 304px;
        }

        &-filter {
            display: flex;
            align-items: center;
            position: relative;
            transition: color 0.3s ease;

            &:not(:last-child) {
                margin-right: 24px;

                @media (min-width: 768px) {
                    margin-right: 28px;
                }
            }

            .dropdownarrow {
                margin-left: 9px;

                @media (min-width: 768px) {
                    margin-left: 10px;
                }
            }

            &-popup {
                // display: none;
                visibility: hidden;
                transition: visibility 0.3s;
                position: absolute;
                box-sizing: border-box;
                background-color: #fff;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                z-index: 1;
            }
        }

        .filter-size-popup {
            width: 79px;
            left: -10px;
            top: 21px;
            padding: 7px 9px 11px;

            &-item {
                display: block;
                cursor: pointer;
                transition: color 0.3s ease;

                &:not(:last-child) {
                    margin-bottom: 6px;
                }

                &:hover,
                input:checked+span {
                    color: $pinkColor;
                }

                input {
                    width: 12px;
                    height: 12px;
                    margin-right: 9px;
                }
            }
        }

        .filter-size:hover,
        .filter-size-popup:hover {
            color: $pinkColor;

            .filter-size-popup {
                // display: block;
                visibility: visible;
                color: #6F6E6E;
            }
        }
    }
}

.categories {
    margin: 64px 0 0;

    @media (min-width: 768px) {
        margin-top: 20px;
    }

    @media (min-width: 1200px) {
        margin-top: 65px;
    }

    .container {
        padding: 0 16px 0;
    }

    &-list {
        list-style: none;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-item {
            background-size: cover;
            background-position: center;
            background-color: rgba(33, 22, 22, 0.7);
            background-blend-mode: darken;
            margin: 0 0 32px 0;
            height: 248px;
            width: 100%;

            @media (min-width: 768px) {
                margin: 0;
                height: 167px;
                max-width: 232px;
            }

            @media (min-width: 1200px) {
                height: 260px;
                max-width: 360px;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            &-title {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
            }

            &-subtitle {
                color: $pinkColor;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
            }

            &:nth-child(1) {
                background-image: url(#{$imagePath}/women.png);
            }

            &:nth-child(2) {
                background-image: url(#{$imagePath}/men.png);
            }

            &:nth-child(3) {
                background-image: url(#{$imagePath}/kids.png);
            }

            &:last-child {
                background-image: url(#{$imagePath}/accesories.png);
                height: 111px;

                @media (min-width: 768px) {
                    margin: 20px 0 0;
                    height: 116px;
                    max-width: 100%;
                }

                @media (min-width: 1200px) {
                    margin: 30px 0 0;
                    height: 180px;
                }
            }
        }
    }
}

.featured {
    margin: 64px 0 96px;

    @media (min-width: 768px) {
        margin: 155px 0 64px;
    }

    @media (min-width: 1200px) {
        margin: 96px 0;
    }

    .container {
        padding: 0;

        @media (min-width: 768px) {
            padding: 0 8px 0;
        }

        @media (min-width: 1200px) {
            max-width: 1200px;
            padding: 0;
        }
    }

    &-title {
        text-align: center;
        color: #222222;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }

    &-txt {
        text-align: center;
        color: #9F9F9F;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 64px;

        @media (min-width: 768px) {
            margin-bottom: 73px;
        }

        @media (min-width: 1200px) {
            margin-bottom: 48px;
        }
    }
}

.catalog {
    margin-bottom: 64px;

    @media (min-width: 1200px) {
        margin-bottom: 96px;
    }

    .container {
        padding: 0;

        @media (min-width: 768px) {
            padding: 0 8px 0;
        }

        @media (min-width: 1200px) {
            max-width: 1200px;
            padding: 0;
        }
    }
}

.other-products {
    margin: 64px 0 64px;

    @media (min-width: 768px) {
        margin: 128px 0 128px;
    }

    .container {
        padding: 0;

        @media (min-width: 768px) {
            padding: 0 8px 0;
        }

        @media (min-width: 1200px) {
            max-width: 1200px;
            padding: 0;
        }

        .products-list-item:last-child {
            display: none;

            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}

.products-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    &-item {
        margin: 8px;

        &:nth-of-type(9) {
            display: none;

            @media (min-width: 1144px) {
                display: block;
            }
        }

        @media (min-width: 1200px) {
            margin: 15px;
        }
    }

    .products-item {
        max-width: 359px;
        position: relative;
        background-color: #F8F8F8;

        @media (min-width: 768px) {
            max-width: 360px;
        }

        &:hover {
            .products-item-btn {
                display: flex;

                &:hover {
                    background-color: #ccc;
                    color: #000;
                    border: 1px solid #000;

                    svg {
                        fill: #000;
                    }
                }

                &:active {
                    background-color: transparent;
                    color: #fff;
                    border: 1px solid #fff;

                    svg {
                        fill: #fff;
                    }
                }
            }

            .products-item-photo {
                filter: brightness(50%);
            }
        }

        &-photo {
            display: block;
            width: 100%;
            margin: 0 auto;
            transition: filter 0.3s ease;
        }

        &-title {
            margin: 0 0 12px 0;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #000;
        }

        &-txt {
            margin: 0 0 18px 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5D5D5D;

            &-wrp {
                padding: 25px 18px 20px;
                box-sizing: border-box;
                text-align: left;
            }
        }

        &-price {
            font-size: 16px;
            line-height: 19px;
            color: $pinkColor;
        }

        &-btn {
            display: none;
            justify-content: center;
            align-items: center;
            width: 38.3%;
            min-height: 43px;
            border: 1px solid #fff;
            background-color: transparent;
            text-align: center;
            font-size: 14px;
            line-height: 17px;
            color: #fff;
            position: absolute;
            top: 188px;
            left: 32.7%;

            svg {
                fill: #fff;
                margin: 0 11px 0 0;
            }
        }
    }
}

.products-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F26376;
    border: 1px solid #FF6A6A;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    max-width: 211px;
    min-height: 48px;
    padding: 5px;
    box-sizing: border-box;
    transition: color 0.3s ease, background-color 0.3s ease;
    margin: 32px auto 0;

    @media (min-width: 768px) {
        margin: 24px auto 0;
    }

    @media (min-width: 1200px) {
        margin: 33px auto 0;
    }

    &:hover {
        color: #fff;
        background-color: $pinkColor;
    }

    &:active {
        color: #F26376;
        background-color: #fff;
    }
}

.pagination {
    max-width: 284px;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 32px auto 0;

    @media (min-width: 1200px) {
        margin: 33px auto 0;
    }

    &-item {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #C4C4C4;
        text-decoration: none;
        transition: color ease 0.3s;
    }

    .observed,
    &-item:hover {
        color: #EF5B70;
    }

    &-step {
        border: none;
        background: none;
    }
}

.features {
    height: 610px;
    background-color: #222224;

    @media (min-width: 1200px) {
        height: 341px;
    }

    .container {
        padding: 0 14px 0;
        height: 100%;
    }

    &-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #FBFBFB;
        text-align: center;
        height: 100%;

        @media (min-width: 1200px) {
            flex-direction: row;
            justify-content: space-between;
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 360px;

            &-icon {
                display: block;
                height: 40px;
                margin: 0 0 20px 0;
                fill: $pinkColor;
            }

            &-title {
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                margin: 0 0 16px 0;
            }

            &-txt {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

.subscribe {
    height: 550px;
    background-image: url(../img/subscribe-background.png);
    background-color: rgba(244, 244, 244, 0.7);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 26%;

    @media (min-width: 768px) {
        height: 614px;
    }

    @media (min-width: 1200px) {
        height: 448px;
        background-position: center;
    }

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 17px 0;

        @media (min-width: 1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0;
        }
    }

    &-info {
        color: #222224;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 360px;
        margin-top: 64px;

        @media (min-width: 1200px) {
            margin-top: 97px;
        }

        &-avatar {
            height: 92px;
            margin-bottom: 30px;

            @media (min-width: 768px) {
                height: 96px;
            }
        }

        &-txt {
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;

            @media (min-width: 768px) {
                font-size: 20px;
                line-height: 24px;
            }

            span {
                font-style: italic;
            }
        }
    }

    &-form {
        width: 100%;
        max-width: 557px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        margin-top: 63px;

        @media (min-width: 768px) {
            margin-top: 71px;
        }

        @media (min-width: 1200px) {
            margin-top: 0;
            height: 100%;
        }

        &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 37px;

            @media (min-width: 1200px) {
                line-height: 40px;
            }
        }

        &-subtitle {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;

            @media (min-width: 768px) {
                font-size: 18px;
                line-height: 28px;
            }

            @media (min-width: 1200px) {
                line-height: 30px;
            }
        }

        &-wrapper {
            width: 100%;
            max-width: 356px;
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            margin-top: 22px;
            height: 47px;

            @media (min-width: 768px) {
                margin-top: 27px;
                height: 49px;
            }
        }

        &-email {
            border: none;
            border-radius: 50px 0 0 50px;
            background-color: #E1E1E1;
            color: #222224;
            padding-left: 22px;
            flex-grow: 1;
        }

        &-btn {
            border: none;
            border-radius: 0 50px 50px 0;
            background-color: $pinkColor;
            color: #fff;
            max-width: 100px;
            flex-grow: 1;
            transition: color 0.3s ease, background-color 0.3s ease;

            &:hover {
                background-color: #E05C6E;
            }

            &:active {
                background-color: #fff;
                color: $pinkColor;
            }
        }
    }
}

.page-footer {
    height: 143px;
    background-color: #222224;

    @media (min-width: 768px) {
        height: 79px;
    }

    .container {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 43px 32px 9px;
        box-sizing: border-box;

        @media (min-width: 768px) {
            flex-direction: row;
            padding: 0px 32px 0px;
        }

        @media (min-width: 1200px) {
            padding: 0;
        }
    }

    &-txt {
        color: #FBFBFB;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    &-socials {
        list-style: none;
        display: flex;

        &-item {
            display: flex;
            flex-wrap: wrap;
            width: 32px;
            height: 32px;
            background-color: #fff;
            transition: fill 0.3s ease, background-color 0.3s ease;

            &:hover {
                background-color: $pinkColor;
            }

            &:hover svg {
                fill: #fff;
            }

            &:not(:first-child) {
                margin-left: 6px;
            }

            &>a {
                display: block;
                margin: auto;
            }

            & svg {
                transition: fill 0.3s ease;
                display: block;
                margin: auto;
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0;
    }
}